<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8 "/>
    <title>Books</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>


<body>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Edition</th>
        </tr>
        </thead>
        <tbody th:each="book: ${books}">
        <tr>
            <th scope="row">1</th>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.edition}"></td>
            <td>
                <span th:if="${book.isFree==true}">Free</span>
                <span th:if="${book.isFree==false}">Occupied</span>
            </td>
        </tr>

        </tbody>
    </table>


</div>
</body>
</html>